%form
  %table
    %tr
      %td= Section.model_name.human
      %td
        %select{ name: :vol_section }
          - @sections.each do |section|
            %option{ value: section[0], selected: ( session[:vol_section] == section[0].to_s ? :selected : nil) }= section[1]

      %td= Department.model_name.human :count => 2
      %td
        %select{ name: :department }
          - @departments.each do |dep|
            %option{ value: dep[0], selected: ( session[:department] == dep[0].to_s ? :selected : nil) }= dep[1]
      -#
        - i = 0
        - @departments.each do |dep|
          %input{ type: :radio, name: :department, value: dep[0], checked: ( session[:department] == dep[0].to_s ? :checked : nil) }= dep[1]
          - i += 1
          - if i%6 == 0
            %br
    %tr
      %td order by
      %td
        %select{ name: :vol_order }
          - @orders.each do |order|
            %option{ value: order[0], selected: ( session[:vol_order] == order[0] ? :selected : nil) }= order[1]

      %td
      %td
        %input{ :type => 'submit', :value => 'filter' }
        %form
          %input{ :type => 'submit', :value => 'reset', :name => 'reset' }