= simple_form_for [@activity, @act_need] do |f|
  - if errors = params[:act_need_errors]
    #error_explanation
      %h2= "#{pluralize(errors.count, "error")} prohibited this act_need from being saved:"
      %ul
        - errors.each do |msg|
          %li= msg

  = f.hidden_field :activity_id
  
  #table_form.compact
    %table
      %tr
        %td
          = f.label :pos
          ─
          = f.label :qty_volunteers
        %td
          = f.input :pos, input_html: { size: 4, style: 'float: left' }, label: false
          %span{ style: 'float: left' }
            ─
          = f.input :qty_volunteers, input_html: { size: 4 }, label: false
      %tr
        %td
          = f.label :name
        %td
          = f.input :name, input_html: { size: 24 }, label: false
      %tr
        %td
        %td{align: :right}
          = f.submit t(:save)
