
%div.one{:style => "width: 90%; overflow: auto"}
  %table.tableau_volunteers_trainings{style: 'font-size: 80%'}
    %tr
      %th
      - @trainings_names.each do |h|
        %th{:colspan => 3}= h
    %tr
      %th
      - (@trainings_names.count).times do
        %th ?
        %th= Certificate.human_attribute_name(:number)
        %th= Certificate.human_attribute_name(:issued_on)
        
    - @table.each do |row|
      %tr
        %td= volunteer_id = row[0]
        - row[1..row.count-1].each do |cell|
          - if cell.is_a?(ActiveRecord::Relation)
            %td.oui
              - cell.each do |certificate|
                = link_to t(:show), volunteer_certificate_path(:volunteer_id => certificate.volunteer.id, :id => certificate.id)
                %br
            %td.oui
              - cell.each do |certificate|
                = certificate.number
                %br
            %td.oui
              - cell.each do |certificate|
                = certificate.issued_on
                %br
          - else
            -#if cell.is_a?(FixNum)
            %td
              =# link_to t(:new), new_volunteer_certificate_path(:volunteer_id => volunteer_id, :params => {:training_id => cell})
            %td
            %td
