
%h1
  export all
  %b tables
  to new google drive
  %b spreadsheet

= form_tag :google_drive_write do
  %p
    = label_tag :google_username
    = text_field_tag :google_username
  %p
    = label_tag :google_password
    = password_field_tag :google_password
  %p
    = label_tag :spreadsheet_key
    = text_field_tag :spreadsheet_key
  = submit_tag 'write to google drive'

-#
  %p
    %b
      google username:
    %input{:name => 'google_username', :size => '32'}
  %p
    %b
      google password:
    %input{:type => 'password', :name => 'google_password', :size => 32}
  %p
    %b
      spreadsheet key:
    %input{:name => 'spreadsheet_key', :size => 64}
  %p
    %input{:type => 'submit', :value => 'write to google drive'}
