
%p{:style => 'margin-right: 0; margin-left: 0; text-align: center; font-size: 4em; line-height: 1em; font-weight: bold'}
  %font{:style => 'color: red'}
    
  %font{:style => 'color: black'}
    = t(:CRB)
    %br
    = t(:SLUccle)

%p
  - total = 0
  - ActiveRecord::Base.subclasses.each do |sc|
    = sc.name.downcase
    = st = sc.all.size
    %br
    - total += sc.all.size
  %b
    total
    = total
  %br
