= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  %table.form
    %tr
      %td= f.label :short_name
      %td= f.text_field :short_name
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td
      %td{:align => :right}
        = f.submit t :save
